<form
  name="form"
  class="container"
  [formGroup]="form"
  (ngSubmit)="save()"
  novalidate
>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="targetName">Company Name</label>
        <input
          type="text"
          class="form-control"
          name="targetName"
          formControlName="targetName"
          required
        />

        <div
          class="error-msg"
          *ngIf="
            form.get('targetName').hasError('required') &&
            !form.get('targetName').pristine
          "
        >
          <p class="mt-2">company name is a required field.</p>
        </div>
      </div>

      <div class="form-group" formGroupName="kpiData">
        <label for="startYearValue">Starting Revenue</label>
        <input
          type="number"
          class="form-control"
          name="startYearValue"
          formControlName="startYearValue"
          required
        />
        <div
          class="error-msg"
          *ngIf="
            form.get('kpiData.startYearValue').hasError('required') &&
            !form.get('kpiData.startYearValue').pristine
          "
        >
          <p class="mt-2">Please provide beginning of year earnings</p>
        </div>

        <label for="endYearValue">End of Year Revenue</label>
        <input
          type="number"
          class="form-control"
          name="endYearValue"
          formControlName="endYearValue"
          required
        />
        <div
          class="error-msg"
          *ngIf="
            form.get('kpiData.endYearValue').hasError('required') &&
            !form.get('kpiData.endYearValue').pristine
          "
        >
          <p class="mt-2">Please provide an end of year earnings</p>
        </div>
      </div>
      <div class="form-group">
        <label for="companyInformation">Company Notes & Info</label>
        <textarea
          class="form-control"
          name="companyInformation"
          formControlName="companyInformation"
          required
        ></textarea>
        <div
          class="error-msg"
          *ngIf="
            form.get('companyInformation').hasError('required') &&
            !form.get('companyInformation').pristine
          "
        >
          <p class="mt-2">Please provide a description for the company</p>
        </div>
      </div>
      <button
        [disabled]="form.invalid"
        class="btn btn-primary btn-lg btn-block target-create-form"
        (ngSubmit)="save()"
      >
        Save
      </button>
      <button
        class="btn btn-secondary btn-lg btn-block target-create-form"
        (click)="openModal(templateQuestion)"
      >
        Reset Form
      </button>
    </div>

    <div class="col-md-6">
      <div class="form-group ">
        <label for="status"
          ><strong> <span>Status: </span> </strong>
        </label>
        <select required name="status" formControlName="status">
          <option value="RESEARCHING">Researching </option>
          <option value="PENDING-APPROVAL">Pending approval</option>
          <option value="APPROVED">Approved</option>
          <option value="DECLINED">Declined</option>
        </select>
      </div>

      <div class="fixed-height">
        <div class="overflo-content">
          <div class="error-msg" *ngIf="form.get('keyContacts').invalid">
            <p class="mt-2">at least one key contact is required</p>
          </div>
          <div
            formArrayName="keyContacts"
            *ngFor="
              let keyContact of form.get('keyContacts')['controls'];
              let i = index
            "
          >
            <h4>Key Contact {{ i + 1 }}</h4>
            <div class="form-group" [formGroupName]="i">
              <label for="name">Key Contact Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                formControlName="name"
                required
              />
              <label for="phone">Phone Number</label>
              <input
                type="number"
                class="form-control"
                name="phone"
                formControlName="phone"
                required
              />
              <label for="title">Position or Title</label>
              <input
                type="text"
                class="form-control"
                name="title"
                formControlName="title"
                required
              />
            </div>
          </div>
        </div>
        <div>
          <button
            class="btn btn-secondary btn-block btn-lg"
            (click)="addKeyContactClick(); $event.preventDefault()"
            [disabled]="form.invalid"
          >
            Add Contact
          </button>
          <button
            class="btn btn-secondary btn-block btn-lg target-create-form"
            (click)="deleteKeyContactClick(); $event.preventDefault()"
          >
            Delete Contact
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #templateQuestion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to reset this form?
    </p>

    <button class="btn btn-warning btn-lg btn-block" (click)="resetForm()">
      Reset
    </button>
  </div>
</ng-template>
