<h1>{{ title }}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="create/target"
      routerLinkActive="active"
      >Create Target</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="view/targets" routerLinkActive="active"
      >View Targets</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="view/financials" routerLinkActive="active"
      >View Financials</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="view/contacts" routerLinkActive="active"
      >View Key Contacts</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
