<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{ title }}</h1>
  <!-- Test page to see if api is communicating with front end.  -->
  <h2>Companies</h2>
  <ul *ngFor="let target of (targets$ | async); let index = index">
    <li>
      <h3>{{ target.targetName }}</h3>
    </li>
    <li>
      Status: <b>{{ target.status }}</b>
    </li>
    <li>
      Annual Growth Rate: <b>{{ target.agr }}</b>
    </li>
    <li>
      Year Starting Revenue: <b>{{ target.kpiData.startYearValue }}</b>
    </li>
    <li>
      Year Ending Revenue: <b>{{ target.kpiData.endYearValue }}</b>
    </li>
    <li>
      <h4>Company Info</h4>
      <p>{{ target.companyInformation }}</p>
    </li>
    <h4>{{ target.targetName }} Contacts</h4>
    <ul *ngFor="let keyContact of target.keyContacts">
      <li>
        Name: <b>{{ keyContact.name }}</b>
      </li>
      <li>
        Phone: <b> {{ keyContact.phone }}</b>
      </li>
      <li>
        Position: <b>{{ keyContact.title }}</b>
      </li>
    </ul>
  </ul>

  <!-- <router-outlet></router-outlet> -->
</div>
