<accordion>
  <accordion-group
    *ngFor="
      let target of targets$
        | async
        | paginate: { itemsPerPage: 2, currentPage: page }
    "
    heading="{{ target.targetName }}"
  >
    <ul class="list-group">
      <button
        class="class btn btn-primary"
        (click)="getId(target.id, editForm)"
      >
        Edit Target
      </button>
      <button
        class="class btn btn-danger"
        (click)="getId(target.id, templateQuestion)"
      >
        Delete Target
      </button>
      <li class="list-group-item">Status: {{ target.status }}</li>
      <li class="list-group-item">Annual Growth Rate: {{ target.agr }}</li>
      <li class="list-group-item">
        Company Info: {{ target.companyInformation }}
      </li>
    </ul>
  </accordion-group>
</accordion>

<div class="mt-5  d-flex justify-content-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<ng-template #templateQuestion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Target</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to delete this target?
    </p>

    <button class="btn btn-warning btn-lg btn-block" (click)="delete()">
      Delete
    </button>
  </div>
</ng-template>

<ng-template #editForm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Target</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <app-edit-target [targetId]="id"></app-edit-target>
  </div>
</ng-template>
