
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5%;
}

.jumbotron {
  padding: 2em;
  color: #DEE1E1 !important;

}


.container {
  border: 5px solid rgba(37, 41, 47, 0.4);
  border-radius: 10px;
  padding: 1em;
}


@media only screen and (max-device-width: 480px) {
  .container {
    border: none;
    border-radius: 10px;
    padding: 1em;
  }

}



